﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_MyLayout";
}

<h5 class="text-danger">Unfortunately an error has occurred while processing your request. Please use the Home link above to return to the site.</h5>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

