﻿@{
    ViewData["Title"] = "Tomney's on the WWW";
    Layout = "_MyLayout";
}
<div class="container-fluid" style="background-color: #f7f9fb">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-md-2">
            <img class="img-thumbnail" src="~/images/links/Hyperlink.jpg" alt="Image of hyperlink" />
        </div>
        <div class="col-md-10 my-auto">
            <div class="link-hdr-lrg">The Tomney family on the World Wide Web</div>
            <div class="link-hdr-med">
                Places on the Internet where you can find members of the family working, creating content, or engaging others
            </div>
            <div class="link-hdr-sml">
                {Expand or collapse the groups by clicking on the mouse icon}
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card-no-shadow">
            <div class="card-header alert alert-info">
                <a data-toggle="collapse" href="#collapseOne" style="color: #f7f9fb; cursor: default; text-decoration: none; font-size: 1.25em; font-weight: bold">
                    <span class="fas fa-mouse">&nbsp;&nbsp;Business Websites</span>
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="~/images/Links/BetterDays_sml.jpg" alt="Better Days logo">
                                <div class="card-body">
                                    <h5 class="card-title">My Better Day</h5>
                                    <h6 class="card-text">The business website of Deborah L. Tomney APRN/PMH-BC, MSN for her private therapy practice</h6>
                                    <div class="text-center">
                                        <a target="_blank" href="http://mybetterday.com">My Better Day Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img class="img-thumbnail card-img-top" src="~/images/Links/ChemComplete.jpg" alt="ChemComplete logo">
                                <div class="card-body">
                                    <h5 class="card-title">ChemComplete</h5>
                                    <h6 class="card-text">The business website of Matthew Tomney that provides help for chemistry students</h6>
                                    <div class="text-center">
                                        <a target="_blank" href="https://www.chemcomplete.com/">ChemComplete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-no-shadow">
            <div class="card-header alert alert-info">
                <a data-toggle="collapse" href="#collapseTwo" style="color: #f7f9fb; cursor: default; text-decoration: none; font-size: 1.25em; font-weight: bold">
                    <span class="fas fa-mouse">&nbsp;&nbsp;Blogs</span>
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="~/images/Links/SkyToursBlog_Sml.png" alt="Skytours logo">
                                <div class="card-body">
                                    <h5 class="card-title">Skytours Blog</h5>
                                    <h6 class="card-text">Jim's take on current events, astronomy, technology, and other random topics</h6>
                                    <div class="text-center">
                                        <a target="_blank" href="http://skytours.blogspot.com/">Skytours</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img class="img-thumbnail card-img-top" src="~/images/Links/SSS_Sml.jpg" alt="Shallow Skies logo">
                                <div class="card-body">
                                    <h5 class="card-title">Shallow Skies Blog</h5>
                                    <h6 class="card-text">Jim's astronomy blog - observations, tips, &amp; equipment reviews from 50 years behind the eyepiece</h6>
                                    <div class="text-center">
                                        <a target="_blank" href="https://shallowskysorties.blogspot.com/">Shallow Skies Blog</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-no-shadow">
            <div class="card-header alert alert-info">
                <a data-toggle="collapse" href="#collapseThree" style="color: #f7f9fb; cursor: default; text-decoration: none; font-size: 1.25em; font-weight: bold">
                    <span class="fas fa-mouse">&nbsp;&nbsp;Media &amp; Publications</span>
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="~/images/Links/IJMS.jpg" alt="IJMS">
                                <div class="card-body">
                                    <h5 class="card-title">IJMS Article</h5>
                                    <h6 class="card-text">Stem cell article appearing in the International Journal of
                                        Molecular Sciences co-authored by Amarel</h6>
                                    <div class="text-center">
                                        <a target="_blank" href="~/content/ijms-21-00089.pdf">IJMS Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img class="img-thumbnail card-img-top" src="~/images/Links/RainGarden.jpg" alt="Screen grab">
                                <div class="card-body">
                                    <h5 class="card-title">Rain Garden Interview</h5>
                                    <h6 class="card-text">Laura led a group of volunteers from Exelon to plant a rain garden to help reduce runoff into the harbor</h6>
                                    <div class="text-center">
                                        <a target="_blank" href="https://youtu.be/M6O2mPHnXvU?t=12">WJZ Interview with Laura</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>