﻿@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Tomney Scrapbook";
}

<div class="container-fluid" style="background-color: #f7f9fb">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-md-2">
            <img class="img-fluid" src="~/images/scrapbook/Filmstrip_sml.png" alt="Film strip" />
        </div>
        <div class="col-md-10">
            <div class="scrapbook-hdr-lrg">The Tomney Family Scrapbook</div>
            <div class="link-hdr-med">
                As Kodak's marketing slogan once opined, "Share moments, share life." We've been blessed with precious family &amp; 
                friends through the years and have put together some albums to reflect that. This part of the site is always a
                work in progress as we digitize and publish more albums, so check back in occasionally! 
            </div>
            <div class="vert-space-med">
                <a class="btn btn-info" style="background-color: #31708e" asp-controller="Scrapbook" asp-action="List">View Scrapbook Albums</a>
            </div>
            <div class="alert alert-warning link-hdr-sml" style="background-color: #fff207">
                To keep big tech prying robotic eyes from indexing and linking to our albums we only allow known 
                family and friends to view them. If you have not already done so you'll need to sign in to see this content. 
                For information about creating an account please check this <a href="html/CreateAccount.html" target="_blank">page</a> (don't worry, it is easy).
            </div>
        </div>
    </div>
</div>
