﻿@{
    Layout = "_MyLayout";
}
<h4>Family Albums</h4>

<div class="container">
    <div class="row vert-space-med my-auto">
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Noah's 3rd Birthday</h5>
                    <div class="card-text">
                        <img class="w-75" src="~/images/scrapbook/NoahBd3/images/NoahBD_Cake.jpg" alt="">
                    </div>
                    <a target="_blank" href="~/images/scrapbook/NoahBd3/index.html" class="card-link text-info">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Easter 1995</h5>
                    <div class="card-text">
                        <img class="w-75" src="~/images/scrapbook/easter95/images/Easter95_001.jpg" alt="">
                    </div>
                    <a target="_blank" href="~/images/scrapbook/easter95/index.html" class="card-link text-info">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Vegas</h5>
                    <div class="card-text">
                        <img class="w-75" src="~/images/scrapbook/vegas/images/vegas_05.jpg" alt="">
                    </div>
                    <a target="_blank" href="~/images/scrapbook/vegas/index.html" class="card-link text-info">View</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row vert-space-med">
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Pine Barrens Scout Trip</h5>
                    <div class="card-text">
                        <img class="w-75" src="~/images/scrapbook/pinebarrens/images/SCAN002.jpg" alt="">
                    </div>
                    <a target="_blank" href="~/images/scrapbook/pinebarrens/index.html" class="card-link text-info">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Guatemala</h5>
                    <div class="card-text">
                        <img class="w-75" src="~/images/scrapbook/guatemala/images/SCAN010.jpg" alt="">
                    </div>
                    <a target="_blank" href="~/images/scrapbook/guatemala/index.html" class="card-link text-info">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Christmas 2020</h5>
                    <div class="card-text">
                        <img class="w-75" src="~/images/scrapbook/christmas2020/images/IMG_2652.jpg" alt="">
                    </div>
                    <a target="_blank" href="~/images/scrapbook/christmas2020/index.html" class="card-link text-info">View</a>
                </div>
            </div>
        </div>
    </div>
</div>