﻿@model object

@{
    Layout = "_MyLayout";
}

<div class="container" style="margin-top: 30px">
    <div class="row" style="min-height: 300px">
        <div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/02.jpg" alt="01">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/01.jpg" alt="02">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/03.jpg" alt="03">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/04.jpg" alt="04">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/05.jpg" alt="05">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/06.jpg" alt="06">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/07.jpg" alt="07">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/08.jpg" alt="08">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/09.jpg" alt="09">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/10.jpg" alt="10">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/11.jpg" alt="11">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/12.jpg" alt="12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/13.jpg" alt="13">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/14.jpg" alt="14">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/15.jpg" alt="15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/16.jpg" alt="16">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/17.jpg" alt="17">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/18.jpg" alt="18">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/19.jpg" alt="19">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/20.jpg" alt="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-md-block vert-space-sml">
                            <div class="card card-shadow">
                                <div class="card-body">
                                    <img class="img-fluid" src="~/images/home/21.jpg" alt="21">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 text-right">
        <a class="btn btn-lg" asp-controller="Scrapbook">
            <i class="fas fa-book home-links"><span class="home-links">&nbsp;Scrapbook</span></i>
        </a><br />
        <a class="btn btn-lg" asp-controller="Recipe">
            <i class="fas fa-utensils home-links"><span class="home-links">&nbsp;Recipes</span></i>
        </a><br />
        <a class="btn btn-lg" asp-controller="Links" asp-action="Index">
            <i class="fas fa-link home-links"><span class="home-links">&nbsp;Our Links</span></i>
        </a>
    </div>
    <div class="col-sm-4">
        <div class="text-center">
            <img class="img-thumbnail" src="~/images/home/CloudTag2.png" alt="Tomney Cloud Tag" />
        </div>
    </div>
    <div class="col-sm-4 home-links">
        <a class="btn btn-lg" asp-area="Astronomy" asp-controller="Home" asp-action="Default">
            <i class="fas fa-moon home-links"><span class="home-links">&nbsp;Astronomy</span></i>
        </a>
        <a class="btn btn-lg" asp-controller="Travelogue" asp-action="Default">
            <i class="fas fa-suitcase home-links"><span class="home-links">&nbsp;Travelogue</span></i>
        </a>
        @if (ViewBag.IsFamily)
        {
            <a class="btn btn-lg" asp-page="/Travel/Index">
                <i class="fas fa-inbox home-links"><span class="home-links">&nbsp;Family Resources</span></i>
            </a>
        }
    </div>
</div>

