﻿@using System.Data
@using TomneyWebApp.Common.Interfaces
@model IEnumerable<TomneyWebApp.Models.RecipeVwMdl>

@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Recipes";
    var recipes = (List<IRecipe>)ViewData["Recipes"];
}
<div class="container-fluid" style="background-color: #f7f9fb">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-md-2">
            <img class="img-thumbnail" src="~/images/recipes/mushroom_tart.jpg" alt="Mushroom Tart" />
        </div>
        <div class="col-md-10 my-auto">
            <div class="recipe-hdr-lrg">Family Recipes</div>
            <div class="recipe-hdr-med">Some of our favorite recipes from friends, magazines, and TV</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @foreach (IRecipe recipe in recipes)
            {
                <dl>
                    <dt><a target="_blank" asp-controller="Recipe" asp-action="Details" asp-route-title=@recipe.Title >@recipe.Title</a></dt>
                    <dd class="fontLora">@recipe.Description</dd>
                </dl>
            }
        </div>
    </div>
</div>
