﻿@model object

@{
    ViewBag.Title = "My Astronomy Journey";
    Layout = "_MyLayout";
}
<div class="container-fluid" style="background-color: #f7f9fb">
    <div class="row vert-space-med">
        <div class="col-md-12">
            <div class="recipe-hdr-lrg">Jim's Astronomy Journey</div>
            @*<div class="recipe-hdr-med">Some of our favorite recipes from friends, magazines, and TV</div>*@
        </div>
    </div>
    <div class="row vert-space-pill ">
        <span class="badge badge-pill badge-dark pull-left astro-badge-pill">1960s</span>
    </div>
    <div class="row vert-space-med">
        <div class="astro-hdr-sml col-md-12">
            I can still point to the event that hooked me on Astronomy over a half century ago. My father owned a pharmacy in north Baltimore, and
            there was a modest wooden rack at the front of the store with books. Among the offerings was a "Golden Book" about the solar system. I was
            at the store with my sister who offered to read it to me. I was amazed and excited to learn about these other worlds in space brought to life
            by the illustrations. It was a seed that turned into a life-long hobby.
        </div>
        <div class="row vert-space-med">
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/MonoluxScope.jpg" /><br />
                <span class="astro-caption">60mm Monolux Refractor</span>
            </div>
            <div class="astro-hdr-sml col-md-9">
                The fact that this was the early sixties with America locked in a competition with the Soviet Union to reach the Moon first
                surely fueled my interest in outer space. One day accompanying mom to Korvettes department store I saw what I thought was the
                most magnificent instrument on display - a 60mm Monolux refractor on an alt-azimuth mount. My generous parents ended up getting it
                for my 10th birthday. I couldn't wait to get it out under the night sky!
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-9">
                The Moon was my first target, amazing me with its mixture of smooth plains, mountains, and jagged craters. From there I wanted to see Jupiter,
                Saturn, Venus, and of course Mars. And that led me to my first set of astronomical problem solving - determining what constellation was hosting the
                various planets at that time, and by extension how to find the constellation. While this scope could arguably be termed a "trash scope" it was
                the catalyst for learning. I became acquainted with the planets not always being found in the evening sky, and what an opposition meant. I managed to
                persuade my parents to allow me to camp out one summer night so I could catch Venus rising in the pre-dawn sky with my little refractor. I began to
                find out a lot more about globular clusters, nebulae, galaxies, double stars - a wealth of things to look at when a planet wasn't available. There was
                research into photographing the constellations and the Moon through the telescope along with the concept of a camera whose exposure could be set as opposed to
                the ubiquitous Kodak Instamatic cameras.
            </div>
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Moon1967.jpg" /><br />
                <span class="astro-caption">Starting Astrophotography</span>
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/ExploringSpacewithAstronomyCover2.gif" /><br />
                <span class="astro-caption">Summer Reading 1967</span>
            </div>
            <div class="astro-hdr-sml col-md-6">
                In the spring of 1967 I picked up Exploring Space with Astronomy, one of the many hobbiest publications that were common
                back then (we just seemed to have more time and interest in hobbies, making an environment that fostered such publications).
                It covered everything, from optics to photography, planets to deep space. I read it cover to cover multiple time that summer as
                evidenced by its battered appearance. On the back page was an advertisement for a 6" reflector from the Criterion telescope
                company, their RV-6 Dynascope. It sat upon a sturdy equatorial mount and even had a clock drive for the tidy sum of $200. I clipped the coupon for
                additional information which arrived a few weeks later. I'd go to bed dreaming of all the amazing things a "real" telescope would reveal.
            </div>
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/criterion_rv6.gif" /><br />
                <span class="astro-caption">Criterion RV-6 Dynascope</span>
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                I actually shed a couple tears when one Christmas morning in middle school that scope was in the living room. By this point the
                work with the Monolux had paid off in knowing my way around the sky, at least basically. The telescope did not disappoint in its
                views. Jupiter was thrilling, seeing the bands, catching glimpses of the Great Red Spot, and watching the moons cut if front of the globe
                to cast their shadows on its cloud tops. Saturn was a gem, Cassini division clearly seen now that the rings had opened a bit, several of
                its moons visible, and the shadow play between globe and rings. When Mars came round it yielded polar caps, Syrtis Major and other albedo
                features.
            </div>
        </div>
        <div class="row vert-space-pill ">
            <span class="badge badge-pill badge-dark pull-left astro-badge-pill">1970s</span>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                With the arrival of the 6" telescope I became more enthused with the hobby, joining the Baltimore Astronomical Society and making friends with
                like minded amateurs, many of whom became mentors. With a second-hand Minolta camera I also began astrophotography through the scope using the
                afocal method. I was soon getting Lunar images and even some planetary ones. It was tedious work - trying to align the camera lens with the
                eyepiece, getting the object centered since the camera was not an SLR, and then hoping the exposure was right. Still, I managed to capture
                Saturn's rings and Jupiter's equatorial bands and Great Red Spot. I was increasingly frustrated by film labs not processing my negatives properly,
                which led to my setting up a darkroom in a small closet in the basement, learning the ins and outs of B&W film photography. With my driver's license
                I was soon a common fixture at BAS star parties held at Cross Keys or Irvine Nature Center.
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                1970 featured three events that mark it as a memorable year. The first was the Total Solar eclipse that swung up the East coast on Saturday, March 7th.
                I was caught up in the excitement of my peers about this event and so organized a bus trip to Chesapeake, VA, to be in the shadow of the Moon that day.
                It was quite a logistical experience coordinating that trip, and I'll always be grateful to the support my Dad gave in pulling it off. We set out
                at 6AM that day and arrived on the field of a local high school an hour or so before the first contact. I had prepped for taking photos and snapped
                away as the Moon gradually ate up the Sun's surface. Then totality hit, and I was transfixed by the view of the Sun appearing as a black orb in the sky, corona
                streaming around it, Venus and Mercury emerging from the now darkened sky. And, in a life lesson of Murphy's Law, I found I had secured my solar filter so well onto
                the finder scope that there was no way to remove it and center the Sun well enough for photographs. However, I was successful in taking in some views
                through the eyepiece, witnessing the chromasphere's reddish hue and solar prominences. Even my Dad was impressed by the event.
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/CometBennet.jpg" /><br />
                <span class="astro-caption">Comet Bennett - 1970</span>
            </div>
            <div class="astro-hdr-sml col-md-9">
                The second event was the arrival of an unexpected celestial visitor in form of Comet Bennett. In that age we depended upon club
                members who subscribed to a telegram service that would alert observers to significant temporary events such as a nova or comet.
                I am not sure who got the word but soon the BAS members learned by word of mouth that there was a very nice comet in the morning sky.
                So a few weeks after the eclipse I got up early one morning and peeked outside my east facing window. I could not believe my eyes
                as a classic comet with a tail perhaps 15&deg; long hung over my neighbor's house across the street. It was beautiful, and I raced to
                get some shots of it before the twilight began to interfere too much.
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                The final event was predicted - a transit of the planet Mercury on May 9th (yet another convenient Saturday). While the least spectacular
                it was a lesson in celestial dynamics and scale, seeing just how tiny the planet's shilhouette appeared against the backdrop of the solar furnace.
                From there the remainder of the year had many nights under the stars targeting planets if above the horizon or otherwise honing my deep space skills
                by tracking down the brighter Messier objects. It was the year I considered myself to have become a true amateur astronomer.
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                From eclipse to graduation from high school I continued to explore whatever I could in the night sky. I started working the Messier list, feeling excited
                as I became familiar with more than the Orion nebula and Andromeda galaxy. I relished my first close Mars opposition in 1971, seeing albedo features and
                polar caps better than ever before. But a few weeks after graduation my life took an unexpected turn when my Mom passed suddenly. Priorities shifted as I
                tackled college, then dental school - leaving little time under the night skies with a telescope.
            </div>
        </div>
        <div class="row vert-space-pill ">
            <span class="badge badge-pill badge-dark pull-left astro-badge-pill">1980s</span>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                If 1970 was a watershed year for my hobby, 1980 was the same for me personally as I graduated dental school, married my best friend, and started my dental practice.
                Space was at a premium in our starter apartment so I gave my RV-6 to the husband of a co-worker as a long term loan. We moved to a row home a few years later where
                our family grew as we were blessed with the arrival of our two sons. Stepping into the important roles of husband, father, and provider made the
                stars take a back seat - for a while. The return of Comet Halley in 1986 was the impetus to get my scope back now that we had a home. While not as stunning as
                I had hoped (Bennett was far superior) it was still a thrill tracking Halley down in my scope given the history associated with it. The drought was broken and I
                began to revisit my old celestial friends, finding it rejuvenating.
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-9">
                As the 80s began to draw to a close we experienced the dawn of the Internet, opening the door to virtual collaboration. I started with Prodigy and was a daily visitor
                to the astronomy board. There I made friends like Phil Harrington and Craig MacDougal, forming a virtual community sharing observations, advice, and mentoring. Email
                was another revolution, replacing the written word taking days to electronic ones traveling almost instantaneously. Little
                did we realize at the time just how profoundly this new medium for communicating would change our hobby. Fidonet
                was another favorite electronic haunt in those early days of screechy modems and shouts of "Don't pick up the phone!".
            </div>
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Prodigy.jpg" /><br />
                <span class="astro-caption">Prodigy Login Screen</span>
            </div>
        </div>
        <div class="row vert-space-pill ">
            <span class="badge badge-pill badge-dark pull-left astro-badge-pill">1990s</span>
        </div>
        <div class="row vert-space-med">
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/AstrFeb97.jpg" /><br />
                <span class="astro-caption">Astronomy Magazine - Feb 1997</span>
            </div>
            <div class="astro-hdr-sml col-md-9">
                As the 90s got underway I renewed my membership with the Baltimore Astronomical Society where I made new friends who shared my interest. I enthusiastically
                started working on completing the Messier list with fellow amateur Joe Ringer. I joined ALPO and became a dedicated Jupiter observer, even getting some
                mentions in <span style="font-style: italic">Astronomy</span> magazine. July 1994 brought us Comet Shoemaker-Levy 9 and the first time mankind got to witness
                what happens when a comet crashes into Jupiter. The effects were obvious, leaving scars in the cloud tops that could be seen in the most modest of telescopes.

                I had one of the most memorable nights of my observing career during the 90s when club member
                Bill Burbridge invited several of us to his property at Ragged Mountain in western Maryland. It was a clear October evening in some of the darkest skies I had ever
                seen (and the peak of that year's Orionids meteor shower to boot.) Bill had a 16" Meade dobsonian that gave jaw-dropping views of the Whirlpool galaxy. It was also during this time
                that I ended up inheriting two telescopes via club member Dr. Richard Pembroke - the fine 8" reflector that had been ground by Charles Kratz, and a 10" reflector
                that was the product of Charles Cyrus. Following my experience at Ragged Mountain I started to attend regional star parties like Stellafane and those hosted
                by the DelMarVa Stargazers at Tuckahoe State Park. Great memories were made under those dark skies chasing down fainter fuzzies from the Herschel 400 list.
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="col-md-3">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Skytours.jpg" /><br />
                <span class="astro-caption">Sky Tours Business Card</span>
            </div>
            <div class="astro-hdr-sml col-md-6">
                While my astronomy hobby was thriving my dental office was struggling. By 1997 it was becoming clear that a career change was going to be needed and
                I started the transition to IT. Those were lean times, and to supplement income I started "Sky Tours", offering individual tutoring for new telescope
                owners and astronomy themed birthday parties for kids where we'd launch a model rocket and provide an hour or so observing with the 10" telescope. While not
                a big money maker it certainly helped keep us afloat - not to mention it was great fun. The heavens also helped my endeavor by sending along two great comets
                to stimulate public interest - Comet Hyakutake and Comet Hale-Bopp. As part of my PR initiative I sent photos to local radio and TV stations and actually ended
                up making appearances on some to talk about Hale-Bopp.
            </div>
            <div class="col-md-3 my-auto">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Hale-Bopp2.jpg" /><br />
                <span class="astro-caption">Hale-Bopp</span>
            </div>
        </div>
        <div class="row vert-space-pill ">
            <span class="badge badge-pill badge-dark pull-left astro-badge-pill">2000s</span>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-9">
                <div class="astro-hdr-sml col-md-12 vert-space-med" style="font-size: 1.0em;">
                    There was a gradual but significant shift in the hobby as we entered the new millennium. New equipment and techniques emerged. Webcams, capturing up to 30 frames
                    a second of a planet, could then be processed with software to extract and combine the best frames out of several hundred, resulting in an amazingly sharp final image.
                    The switch to digital cameras from film also changed the way deep sky photography could be done. Rather than painstaking tracking an object for an hour exposure,
                    amateurs could take a series of 1 minute exposures and stack them to achieve a long exposure. We left the wet darkroom for the digital darkroom and found a wide range
                    of processing options.
                </div>
                <div class="astro-hdr-sml col-md-12 vert-space-med" style="font-size: 1.0em;">
                    While the RV-6 was on an equatorial mount, the clock drive motor was an Achilles' heel, routinely breaking. Wanting to try the new techniques I purchased an
                    Atlas mount from Orion. With a little bit of creativity I adapted the telescope to sit on the new mount quickly discovered the joy of a setup which 
                    could keep me from having to adjust the scope every few minutes.
                </div>
            </div>
            <div class="astro-hdr-sml col-md-3 my-auto">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Atlas.jpg" /><br />
                <span class="astro-caption">Atlas Mount</span>
            </div>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-12">
                @*<span style="color: #687864;font-size: 1.0em;font-weight: bold;font-family: 'Vollkorn', serif;">*@
                    The decade saw additional star party attendance, and I especially enjoyed taking each son to Stellafane. I got a chance to
                    visit Cherry Springs to experience their dark skies. There were multiple trips to the eastern shore to partake of spring and fall
                    star parties at Tuckahoe State park held by the Delmarva Stargazers. Other highlights included seeing the fantastic Leonid meteor shower of 2001 with
                    scouts from Troop 5 and catching the Venus transit of 2008.
                @*</span>*@
            </div>
        </div>

        <div class="row vert-space-pill ">
            <span class="badge badge-pill badge-dark pull-left astro-badge-pill">2010s</span>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-2 my-auto">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Corona-HDRComposite.jpg" /><br />
                <span class="astro-caption">Total Eclipse 2017</span>
            </div>
            <div class="astro-hdr-sml col-md-8">
                <div class="astro-hdr-sml col-md-12" style="margin-bottom: 40px; font-size: 1.0em;">
                    From 2010 my focus was on learning and becoming better at imaging the planets. Using an Imaging Source color camera with the RV-6 and the Atlas
                    mount began to yield some nice results. Exploring additional software processing tools such as PIPP and Autostakert! provided incremental improvements
                    to the final images. The 10" Cyrus dobsonian sadly slipped into disrepair (wooden mount giving way after years of use) that I also began to try to
                    restore it (and found a new admiration for people who do this sort of work). I also found time to reenter the local astronomy club scene,
                    joining the Howard Astronomical League (the BAS apparently disbanded).
                </div>
                <div class="astro-hdr-sml col-md-12" style="margin-bottom: 40px; font-size: 1.0em;">
                    The transit of Venus for 2012 - the last such event for over a hundred years - saw a road trip in search of clear skies since the forecast
                    for Baltimore was not good. I arose early that morning and headed west, finally settling in Lexington, Kentucky as the location to try to
                    see the event. I was anticipating trying to take images of the event but what ended up happening instead was an outreach, helping a lot of the public
                    who came out to witness the transit see it with my binoculars. The local media even showed up and interviewed me.
                </div>
                <div class="astro-hdr-sml col-md-12" style="margin-bottom: 40px; font-size: 1.0em;">
                    A huge highlight of the decade was an opportunity for me to witness another total solar
                    eclipse with the "Great American Eclipse" in August of 2017. I began plotting far in advance, researching the potential best location and weighing driving vs. flying to the destination.
                    I also purchased a Vixen 80mm telescope specifically for the eclipse given its sharp optics and ability to frame the entire eclipsed
                    Sun at prime focus with my Canon. I took a week off work and trekked out to Scotts Bluff, NE, in a fantastic road trip. I was up at 3 am the
                    day of the eclipse and drove further west into Wyoming, finally pulling off the road into beautiful Gurnsey State Park with hundreds of other people to
                    see two minutes of awe inspiring totality.
                </div>
            </div>
            <div class="astro-hdr-sml col-md-2">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/TOV.jpg" /><br />
                <span class="astro-caption">Interview at Transit of Venus</span>
            </div>
        </div>

        <div class="row vert-space-pill ">
            <span class="badge badge-pill badge-dark pull-left astro-badge-pill ">2020s</span>
        </div>
        <div class="row vert-space-med">
            <div class="astro-hdr-sml col-md-2 my-auto">
                <img class="img-fluid dropshadow img-padvertical" src="~/images/areas/astronomy/Mars_20201007-0300.jpg" /><br />
                <span class="astro-caption">Mars October 2020</span>
            </div>
            <div class="astro-hdr-sml col-md-10" style="font-size: 1.2em;">
                The next decade holds promise for more enjoyment under the stars. While 2020 will always be remembered for the pandemic, I'll also have good
                memories of a great Mars apparition and capturing it with the best details ever. I have signed on to help A.L.P.O. by posting planetary images
                from observers around the world to the website's gallery. And I made a significant upgrade to my mount with a Celestron CGX-L in hopes that
                I can begin to use it for the eventual refurbished Cyrus 10" scope for planetary imaging. And most importantly, I hope that I can share my
                love of the stars with my grandsons by taking them to star parties to marvel at the universe under dark skies.
            </div>
        </div>
    </div>
</div>
