﻿@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewData["Title"] = "Astronomy";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers;

<div class="container-fluid" style="background-color: #f7f9fb">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-md-12 my-auto">
            <div class="fontLoraTitle text-center">Jim's Astronomy Pages</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive align-content-center" src="images/areas/astronomy/Oursun.jpg" style="max-height: 200px; margin-bottom: 10px;" />
        </div>
        <div class="astro-hdr-sml col-md-9">
            <div class="fontLora astroSectionTitle">Astronomy Bio</div>
            <p style="margin-top: 2%">
                I can still point to the event that hooked me on Astronomy over a half century ago. My father owned a pharmacy in north Baltimore, and
                there was a modest wooden rack at the front of the store with books. Among the offerings was a "Golden Book" about the solar system. I was
                at the store with my sister who offered to read it to me. I was amazed and excited to learn about these other worlds in space brought to life
                by the illustrations. It was a seed that turned into a life-long hobby. &nbsp;&nbsp;<a asp-area="Astronomy" asp-controller="Home" asp-action="AstroBio">[<span style="font-style: italic">continue reading</span>]</a>
            </p>
        </div>
    </div>
    <div class="row vert-space-med">
        <div class="recipe-hdr-sml col-md-12 fontOpenSansCondensed">
            Like other sections of this site, the Astronomy area is under construction. As time permits there will certainly be more albums of
            my astrophotography, links, and - hopefully - tools for amateur astronomers. Please check back occasionally to see what's new!
        </div>
    </div>
</div>