﻿.navbar-background {
    background: rgb(247,249,251);
    background: linear-gradient(4deg, rgba(247,249,251,1) 0%, rgba(143,193,227,1) 100%);
}

.background-textured {
    background-image: url("/images/Bkgrd_EmbWhite.jpg");
    background-repeat: repeat;
}

.home-links {
    color: #687864;
    font-size: x-large;
}
.header-font {
    /*font-family: 'Vollkorn', serif;*/
    font-family: 'Lora', serif;
    font-weight: bold;
    color: #31708e;
    text-decoration: none;
}

.link-camoflauged a:hover {
    text-decoration: none;
    font-weight: bold !important;
    cursor: default !important;
}

.vert-space-sml {
    padding-bottom: 5px;
    padding-right: 5px;
}

.vert-space-med {
    margin-bottom: 2%;
    margin-top: 2%;
}

.vert-space-pill {
    margin-bottom: 20px;
    margin-top: 20px;
}


body {
    background-color: #f7f9fb;
}

.recipe-hdr-lrg {
    color: #687864;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.recipe-hdr-med {
    color: #687864;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.recipe-hdr-sml {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.astroSectionTitle {
    color: #f7f9fb;
    font-weight: bolder;
    background-color: #8fc1e3;
    padding-left: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #808080;
}

.astro-caption {
    font-style: italic;
    padding-left: 3px;
    border-top: 2px;
    border-bottom: 5px;
}

.astro-badge-pill {
    color: #f7f9fb;
    font-size: 1.0em;
    text-shadow: 1px 1px 1px #000000;
}

.astro-hdr-sml {
    color: #687864;
    font-size: 1.2em;
    font-family: 'Sriracha', cursive;
}

.img-padvertical{
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropshadow {
    /*border: thin solid #dcdcdc;*/
    box-shadow: 3px 3px 5px silver; /*, -1px -1px 5px 5px silver;*/
}

.badge-dark {
    background-color: #31708e;
}

.fontNunito {
    font-family: 'Nunito', sans-serif;
}

.fontNunitoHdr {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.fontOpenSansCondensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.fontLora {
    font-family: 'Lora', serif;
}

.fontLoraHdr {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.fontLoraTitle {
    color: #687864;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Lora', serif;
    margin-bottom: 2%;
    margin-top: 2%;
}

.astronomy-menuitem {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    /*font-family: 'Vollkorn', serif;*/
}

.link-hdr-lrg {
    color: #687864;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.link-hdr-med {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.link-hdr-sml {
    color: #687864;
    font-size: 1.15em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.scrapbook-hdr-lrg {
    color: #687864;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.scrapbook-hdr-med {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.scrapbook-hdr-sml {
    color: #687864;
    font-size: 1.15em;
    font-weight: bold;
/*    font-family: 'Vollkorn', serif;*/
}

.card {
    border: none;
    box-shadow: 3px 3px 5px gainsboro;
}

.card-shadow {
    box-shadow: 3px 3px 5px gainsboro;
}

.card-no-shadow {
    border: none;
}

.alert-info {
    background-color: #5085a5;
    color: #f7f9fb;
}

/*.parchment {
    background-image: url("~/images/Bkgrd_EmbWhite.jpg");
    background-repeat: repeat;*/
  /*  background-color: #cccccc;*/
/*}*/