﻿.navbar-background {
    background: rgb(255,245,215);
    background: linear-gradient(0deg, rgba(255,245,215,1) 0%, rgba(235,219,170,1) 100%);
}

.home-links {
    color: #687864;
    font-size: x-large;
}
.header-font {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    color: #31708e;
    text-decoration: none;
}

.link-camoflauged a:hover {
    text-decoration: none;
    !important font-weight:bold;
    !important cursor:default;
    !important
}

.card-shadow {
    box-shadow: 3px 3px 5px gainsboro;
}

.vert-space-sml {
    padding-bottom: 5px;
    padding-right: 5px;
}

.vert-space-med {
    margin-bottom: 2%;
    margin-top: 2%; 
}

.vert-space-pill {
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    background-image: url("/images/travelogue/scrapbook_background.jpg");
    background-repeat: repeat;
    color: #373B7C;
}

img {
    margin-left: 10px;
    margin-right: 10px;
}

.img-shadow {
    border: none;
    box-shadow: 3px 3px 5px grey;
}

.recipe-hdr-lrg {
    color: #687864;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.recipe-hdr-med {
    color: #687864;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.recipe-hdr-sml {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}
.badge-dark {
    background-color: #31708e;
}

.astronomy-menuitem {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    /*font-family: 'Vollkorn', serif;*/
}

.link-hdr-lrg {
    color: #687864;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.link-hdr-med {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.link-hdr-sml {
    color: #687864;
    font-size: 1.15em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.scrapbook-hdr-lrg {
    color: #687864;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.scrapbook-hdr-med {
    color: #687864;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.scrapbook-hdr-sml {
    color: #687864;
    font-size: 1.15em;
    font-weight: bold;
/*    font-family: 'Vollkorn', serif;*/
}

.card {
    border: none;
    box-shadow: 3px 3px 5px gainsboro;
}

.card-no-shadow {
    border: none;
}

.alert-info {
    background-color: #5085a5;
    color: #f7f9fb;
}

/*.parchment {
    background-image: url("~/images/Bkgrd_EmbWhite.jpg");
    background-repeat: repeat;*/
  /*  background-color: #cccccc;*/
/*}*/