﻿@using System.Data
@using TomneyWebApp.Common.Interfaces
@model IEnumerable<TomneyWebApp.Models.TravelogueVwMdl>
@{
    ViewBag.Title = "Travelogues";
    Layout = "_MyLayout";
    var travelogues = (List<ITravelogue>)ViewData["Travelogues"];
}

<h3>Travelogues</h3>

<div class="container-fluid" style="background-color: #f7f9fb">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-md-2">
            <img class="img-thumbnail" src="~/images/travelogue/Travel-PNG.png" alt="Travel Clipart" />
        </div>
        <div class="col-md-10 my-auto">
            <div class="recipe-hdr-lrg">Family Trips</div>
            <div class="recipe-hdr-med">Here are some of the places we have been fortunate enough to visit on family trips</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @foreach (ITravelogue travelogue in travelogues)
            {
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-fluid" src="data:image/jpeg;base64,@travelogue.ImgBase64" alt=@travelogue.Description/>
                    </div>
                    <div class="col-md-10">
                        <dl>
                            <dt><a asp-controller="Travelogue" asp-action="Details" asp-route-id="1" asp-route-title=@travelogue.Title>@travelogue.Title</a></dt>
                            <dd>@travelogue.Description</dd>
                        </dl>
                    </div>
                </div>
            }
    </div>
</div>

@*@Html.Raw(ViewBag.Html)*@
