﻿@model TomneyWebApp.Models.TraveloguePageVwMdl
@{
    ViewBag.Title = Model.Parent;
    ViewBag.Content = Model.Html;
    Layout = "_TravelogueLayout";
    ViewData["TravelogueTitle"] = Model.Parent;
}

<div>
    @Html.Raw(ViewBag.Content)
</div>
<div style="font-family: 'Comic Sans'; font-weight: bold">
    @if (Model.PriorPg > 0)
    {
        <a class="fas fa-arrow-circle-left" asp-controller="Travelogue" asp-action="Details" asp-route-title=@Model.Parent asp-route-id=@Model.PriorPg>&nbsp;<strong>Prior Page</strong></a>
    }
    @if (Model.NextPg > 0)
    {
        <span>&nbsp;&nbsp;</span>
        <a asp-controller="Travelogue" asp-action="Details" asp-route-title=@Model.Parent asp-route-id=@Model.NextPg><strong>Next Page&nbsp;</strong><span class="fas fa-arrow-circle-right">&nbsp;</span></a>
    }
</div>

    
